<style>
body > div > table {
  margin: 0 auto;
  margin-bottom: 20px;
}
</style>

<!DOCTYPE html>
<html>
<head>
  <title>Fizz Club</title>
  <meta property="og:title"       content="Fizz Mains Club">
  <meta property="og:description" content="ðŸŸ ðŸŸ ðŸŸ">
  <meta property="og:image"       content="/img/icon.png">
  <link rel="shortcut icon"       href="/img/icon.png">
  <link rel="stylesheet"          href="/css/index.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/jquery-animate-shadow-min.js"></script>
  <script src="/js/jsc.js"></script>
  <script src="/js/index.js"></script>
</head>
<body>
  <div>
    <table>
      <tr>
        <th>Discord ID</th>
        <th>Name</th>
        <th>Skin</th>
        <th>Received</th>
      </tr>
      <% for(var i of obj){ if(i.skin && i.received == 0){ %>

        <tr>
          <td><%= i.discordId   %></td>
          <td><%= i.discordName %></td>
          <td><%= i.skin        %></td>
          <td><%= i.received    %></td>
        </tr>
      <% }} %>
    </table>
  </div>

  <div>
    <table>
      <tr>
        <th>Discord ID</th>
        <th>Name</th>
        <th>Skin</th>
        <th>Received</th>
      </tr>
      <% for(var i of obj){ if(i.skin && i.received == 1){ %>

        <tr>
          <td><%= i.discordId   %></td>
          <td><%= i.discordName %></td>
          <td><%= i.skin        %></td>
          <td><%= i.received    %></td>
        </tr>
      <% }} %>
    </table>
  </div>

  <div class="silhouette"></div>
</body>
</html>
